    <!-- Include Contact form -->
    <section id="contact">
        <!-- contact form -->
        <div class="container fade-in" style="display: block; opacity: 1;">
            <div class="section">
                <div class="row">
                    <h3 class="red-text lighten-1">{{contact.title}}</h3>
                    <div class="col s12 m4">
                        <p ng-if="contact.intro">{{contact.intro}}</p>
                        <ul class="icons" style="color: #ed2f4b;">
                            <li ng-repeat="item in contact.social">
                                <a target="_blank" href="{{item.url}}" class="icon"><img src="/img/social/{{item.site}}.svg" alt="{{item.title}}" /></a>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="col s12 m8 indigo-text">
                        <form id="contactForm" novalidate="novalidate" _lpchecked="1">
                            <div class="input-field">
                                <input id="nameField" type="text" name="name" required="" data-schema-key="name" maxlength="50">
                                <label for="name" class="">
                                    {{contact.form.name}}
                                </label>
                            </div>
                            <div class="input-field">
                                <input id="emailField" type="text" name="email" required="" data-schema-key="email">
                                <label for="email">
                                    {{contact.form.email}}
                                </label>
                            </div>
                            <div class="input-field">
                                <textarea id="commentField" name="message" rows="5" required="" data-schema-key="message" maxlength="1000" class="materialize-textarea"></textarea>
                                <label for="message">
                                    {{contact.form.message}}
                                </label>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div id="contactdivT">
                                        <button id="submitBtn" onclick="validator()" class="waves-effect waves-light pink accent-2 btn">
                                            {{contact.form.send}} <i class="mdi-content-send right"></i>
                                        </button>
                                        <p class="pink-text accent-2" id="messageP"></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
        <!--  -->
    </section>